/src/conf/MANIFEST.MF
/nbproject/build-impl.xml
/nbproject/project.properties
/build.xml
/web/META-INF/context.xml
/nbproject/ant-deploy.xml
/src/java/model/test2.java
/nbproject/genfiles.properties
/nbproject/project.xml
/build/
/dist/
/nbproject/