
body {
    background: url(../images/b.jpg) repeat;
    background-size: 640px 400px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-decoration: none;
}

.logout-btn {
    width: 150px;
    height: 46px;
    font-family: Lato regular;
    color: #C7362B;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 63px;
    border: 1px solid #C0C1B7;
    position: absolute;
    top: 31px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logout-btn:hover{
    color:white;
}

/*********************************************************profile****************************************************/

.edit-profile-text{
    color:white;    font-size: 35px;    font-family: Lato regular;
    position: absolute;
    right: -3px;  top: 0px;
    margin: 35px 85px 0 0;
    background: rgba(4, 6, 68, 0.15);
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.edit-profile-text:hover{
    color:#BFBBBB;
}

.profile-container{
    position: absolute;
    top:100px;   right: 0px;
    overflow: hidden;
    width:245px;
}

.profile-wrapper{
    background: url(../images/z.jpg) repeat;
    z-index: 1;
    border-radius: 10px;
    background-size: cover;
    width: 200px;  height:300px;
    position: relative; right:-270px; top: 0px;
    display: flex;     justify-content: center;  align-items: center;
    background-color: white;
    border:1px solid #968787;
    padding-bottom: 4px;
    color: #0B50D0;    font-family: Lato regular; font-size: 21px;  
    transition: right 0.6s;
}

.profile-wrapper input{
    margin-bottom: 10px;
    background-color: rgba(106, 71, 138, 0.69);
    height: 20px;
}

.profile-wrapper input[type="submit"]{
    color:#0B50D0;   font-family: Lato;    font-size: 18px;
    background-color: #E8E6E4;
    border-radius: 13px;
    width:65px;  height: 30px;
    border: none;
    padding-bottom: 5px;
}


/*****^^^^^^^^^^^^^^^^^^^^^^^^^^^^^************************profile******^^^^^^^^^^^^^^^^^^^^^^^^^^^^^***********/




/******************************************************build store *******************************************/

.build-store-wrapper{
    margin: 90px auto 0 auto;
    width:300px;  height: auto;
    min-height: 400px;
    background-color: #ECC98B;
    border: 1px solid #A79A76;
    position: absolute;   left:-350px;
    border-radius: 10px;
    transition: left 0.8s ease-out;
}

.build-store-wrapper .build-store-title{
    text-align: center;
    font-family: Lato regular;  font-size: 25px;  color:#0B50D0;
    margin-top: 20px;
}

.store-settings-title{
    font-family: Lato regular;    font-size:25px;     color:#57576B;
    margin:15px 0  0 30px;   
}

.new-store-settings{
    display: flex;    justify-content: center;    align-items: center;   height: 360px;
    color: #0B50D0;    font-family: Lato regular; font-size: 21px;  
}

.new-store-settings input, .new-store-settings textArea{
    margin-bottom: 13px;
}

.cancle-btn{
    width: 100px;    height:30px;
    display: inline-block;
    position: relative;   left:15px;     top:5px;
    font-size: 23px;
    cursor: pointer;    
}

.cancle-btn:hover{
    color:#0B10F3;
}

.product-list-mask{
    width: 551px;
    background-color: black;
    position: absolute;    top:12px;   left:0;    z-index: 5;
    opacity: 0;
    transition: opacity 0.4s;
    cursor: pointer;
}

/******************************************************build store *******************************************/



/************************************** store list ****************************************/


.your-stores-title{
    text-align: center;
    font-size: 25px;
    margin: 10px auto;
    background-color: #A8B75C;
    width: 550px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    top: 11px;
    padding-top: 7px;
    font-size: 30px;
    font-weight: bold;
}

.new-store-btn-wrapper{
    width: 125px;   height: 30px;
    position: absolute;      left: 13px;  top: 12px;
    display: flex;    justify-content: center;      align-items: center;
    background-color: #071B9A;
    color:white;
    font-family: Lato regular;
    border-radius: 14px;
    cursor: pointer;
    border: 1px solid black;
    font-family: lato regular;
    font-size:15px;
    margin-top: 10px;
    z-index: 1;
}

.new-store-btn-wrapper:hover{
    background-color: #1128B9;
}

.new-store-btn-wrapper:active{
    opacity: 0.8;
    background-color: #0A00CE;
}


.store-list-wrapper{
    position: relative;
    width: 550px;
    height: 510px;
    margin: 50px auto 0 auto;
    transition: opacity 0.7s;
}
.table-wrapper{
    position: relative;
    width: 550px;
    height: 490px;
    overflow-y: scroll;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(54%, rgba(214,227,143,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
}

.table-wrapper::-webkit-scrollbar-track
{
    border: 1px solid black;
    background-color: #F5F5F5;
    border-radius: 30px;
}

.table-wrapper::-webkit-scrollbar
{
    width: 15px;
    background-color: #F5F5F5;
    border-radius: 30px;
}

.table-wrapper::-webkit-scrollbar-thumb
{
    background-color: #90947E;	
    border-radius: 30px;
}


table tr{
    margin: 0 30px 30px 30px;
    display: block;
}

table tr td{
    margin: 20px 0px 20px 0px;
    display: inline-block;
    border: 1px;
}
table .store-name-title{
    text-align: center;
    font-size: 23px;   font-family: lato regular;      color:black;
    margin-bottom: 10px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table .store-description-title{
    padding:5px;
    font-size: 16px;   font-family: lato regular;      color:black;
    margin-bottom: -30px;
    width: 200px;   height:140px;
    border: 1px solid black;
    background: rgba(245,242,245,1);
    background: -moz-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,242,245,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(100%, rgba(250,242,250,1)));
    background: -webkit-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    background: -o-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    background: linear-gradient(to bottom, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f2f5', endColorstr='#faf2fa', GradientType=0 );
}

table img{
    border: 1px solid black;
}

.store-buttons-wrapper{
    position: relative;
    bottom: 5px;
}
.btn{
    width: 70px;   height: 30px;
    position: relative;      right: 13px;  top: 15px;
    display: flex;    justify-content: center;      align-items: center;
    background-color: #0D5A0D;
    color:white;
    font-family: Lato regular;
    border-radius: 14px;
    cursor: pointer;
    border: 1px solid black;
    font-family: lato regular;
    font-size:15px;
    margin-top: 10px;
}

.btn:focus{
    outline: none;
}

.btn:active{
    background-color: green;
}

.btn:hover{
    opacity: 0.9;
}


/************************************** store list ****************************************/


/********************** user history  ************************/

.user-histoy-toggle{
    width: 150px;     height: 46px;
    font-family: Lato regular;
    color:green;
    font-size: 34px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 63px;
    border: 1px solid #C0C1B7;
    position: absolute;
    top: 100px; left:24px;
    display: flex;   justify-content: center;    align-items: center;
    cursor: pointer;
}

.user-histoy-toggle:hover{
    color: white;
}

.history-table-container{
    margin-top: 80px;
}

.history-table-container .table-header{
    display: flex;   align-content: center;
    margin-bottom: 20px;
    margin-top: 14px;
    background-color: rgba(0, 128, 0, 0.1);
    width: 750px;
}

.product-name-t, .store-name-t, .product-price-t, .product-quantity-t{
    font-family: Lato regular;
    font-size: 18px;
    width: 120px;
    text-align: center;
}
.store-name-t, .product-price-t, .product-quantity-t{
    margin-left: 27px;
}

.history-table-wrapper{
    width: 800px;
    background-color: aliceblue;
    height: 400px;
    overflow-y: scroll;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    left: calc(50% - 35px);
    transform: translateX(-50%);
    z-index: 1;
    top: -425px;
    transition: top 0.8s ease;
}


.history-table-container tr{
    width: 750px;
    display:flex;
    border-bottom: 1px solid black;
    margin: 0;
    border-collapse: collapse;
    padding-bottom: 17px;
    padding-top: 17px;
    position: relative;
}

.history-table-container tr:first-child{
    border-top:1px solid black;
}

.history-table-container td{
    width: 120px;
    display: inline-block;
    text-align: center;
    margin: 0;
}



/********************** user history  ************************/

/**************************** admin subscription ************************/
.suggest-get-subscription{
    position: absolute;
    background-color: white;
    padding: 20px;
    z-index: 11;
    width: 360px;    height: 230px;
    font-family: Lato regular;
    font-size: 20px;
    color:red;
    top: -280px;
    left: calc(50% - 150px);
    border: 1px solid black;
    transition: top 0.7s ease-in-out;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

.buy-subscription-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.buy-subscription-title{
    background-color:  transparent;
    border-radius: 50px;
    font-family: Lato regular;
    font-size: 23px;
    margin: 15px;
    border: none;
    color: #0005C5;
}

.subscription-input{
    width: 100px;
}

.credit-card-lable{
    font-family: Lato regular;
    font-size: 16px;
    color: #A0A0A0;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.buy-manage-wrapper{
    display: flex;
}

.suggest-subscription-btn:focus, .suggest-subscription-btn-btn:active, .no-thanks-btn:focus, no-thanks-btn:active{
    outline: none;
}

.suggest-subscription-btn:hover {
    color:#2F00FB;
    background-color: #36BF52;
}

.no-thanks-btn:hover{
    color: #D60808;
}

.suggest-subscription-btn {
    color:#27EC41;
    border: 10px;
    margin-left: 15px;
    width: 60px;
    border: 1px solid #807777;
    border-radius: 10px;
    background-color: #3DE25F;
    color:#1200FF;
    cursor: pointer;

}

.no-thanks-btn{
    margin-top: 25px;
    color: #27EC41;
    margin-left: 15px;
    width: 85px;
    background-color: #FFFFFF;
    color: #FF0000;
    font-size: 16px;
    cursor: pointer;
    border:none;
}
.you-not-logged-in{
    font-family: Lato regular;
    color: blue;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
}

.bg-cover-opacity{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;     left: 0;
    background-color: black;
    opacity: 0;
    z-index: -3;
    pointer-events: none;
    transition:none;
    z-index: 10;
}

.sorry-icon{
    width: 50px; height:50px;
    background: url(../images/a1.jpg) repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}

/**************************** admin subscription ************************/
