
body {
    background: url(../images/b.jpg) repeat;
    background-size: 640px 400px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-decoration: none;
}

.back {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:30px solid #121294; 
    color:white;
    background: transparent;
    cursor: pointer;
    border-left: none;
    position: absolute;
    left: 30px;   top: 28px;
}

.back-text{
    font-size: 23px;
    color:black;
    font-family: Lato regular;
    position: absolute;
    left: 84px;
    top: 32px;
}

.back:focus {
    outline: none;
}
/*********************************************************profile****************************************************/

.edit-profile-text{
    color:white;    font-size: 35px;    font-family: Lato regular;
    position: absolute;
    right: -3px;  top: 0px;
    margin: 35px 85px 0 0;
    background: rgba(4, 6, 68, 0.15);
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.profile-container{
    position: absolute;
    top:100px;   right: 0px;
    overflow: hidden;
    width:245px;
} 

.edit-profile-text:hover{
    color:#BFBBBB;
}

.profile-wrapper{
    background: url(../images/z.jpg) repeat;
    z-index: 1;
    border-radius: 10px;
    background-size: cover;
    width: 200px;  height:300px;
    position: relative; right:-270px; top: 0px;
    display: flex;     justify-content: center;  align-items: center;
    background-color: white;
    border:1px solid #968787;
    padding-bottom: 4px;
    color: #0B50D0;    font-family: Lato regular; font-size: 21px;  
    transition: right 0.6s;
}

.profile-wrapper input{
    margin-bottom: 10px;
    background-color: rgba(106, 71, 138, 0.69);
    height: 20px;
}

.profile-wrapper input[type="submit"]{
    color:#0B50D0;   font-family: Lato;    font-size: 18px;
    background-color: #E8E6E4;
    border-radius: 13px;
    width:65px;  height: 30px;
    border: none;
    padding-bottom: 5px;
}


/*****^^^^^^^^^^^^^^^^^^^^^^^^^^^^^************************profile******^^^^^^^^^^^^^^^^^^^^^^^^^^^^^***********/


/**********************************build products**************************/
.build-product-wrapper{
    margin: 90px auto 0 auto;
    width:325px;  height: auto;
    min-height: 400px;
    background-color: #ECC98B;
    border: 1px solid #A79A76;
    position: absolute;   left:-350px;    bottom:70px;
    border-radius: 10px;
    transition: left 0.8s ease-out;
}


.new-product-wrapper{
    display: flex;    justify-content: space-around;   
    margin-top: 15px;  
}

.new-product-wrapper .new-product-btn{
    width: 100px;  height: 30px;
    background-color: red;
}

.new-product-wrapper .new-product{
    width: 120px;  height: 150px;
    background-color: red;
}


.product-settings-title{
    font-family: Lato regular;    font-size:25px;     color:#57576B;
    margin-left: 10px;
}

.new-product-settings{
    display: flex;    justify-content: center;    align-items: center;  
    height: 385px;
    color: #0B50D0;    font-family: Lato regular; font-size: 21px;  
    margin-left: 10px;
}

.new-product-settings .stock-and-price-wrapper{
    width:275px;  height: 65px;
}

.stock-input, .price-input, .price-label,  .stock-label{
    width: 100px;    height:20px; 
    display: inline-block;
    margin-right: 28px;
}


.new-product-settings input, .new-product-settings textArea{
    margin-bottom: 13px;
}

.new-product-settings input[type="submit"]{
    width: 60px;   height: 30px;
}
/******************************************************build store *******************************************/

/*********************************build product **********************************/

.new-product-settings{
    display: flex;    justify-content: center;    align-items: center;   height: 385px;
    color: #0B50D0;    font-family: Lato regular; font-size: 21px; 
}

.new-product-settings input, .new-product-settings textArea{
    margin-bottom: 13px;
}

input[type="file"]{
    margin-bottom: 5px;
}
/*********************************build product **********************************/


.View-Your-Stores-wrapper{
    background-color: green;
    width: 120px;  height: 120px;
    position: absolute;     top: 230px;     right: 30px;
}




/**************************   product list   *****************************/

.cancle-btn{
    width: 100px;    height:30px;
    display: inline-block;
    position: relative;   left:15px;     top:5px;
    font-size: 23px;
    cursor: pointer;    
}

.cancle-btn:hover{
    color:#0B10F3;
}

.product-list-mask{
    width: 551px;
    background-color: black;
    position: absolute;    top:0px;   left:0;    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
    cursor: pointer;
}
.product-list-wrapper{
    position: relative;
    width: 550px;
    height: 510px;
    margin: 90px auto 0 auto;
}

.new-product-btn-wrapper{
    position: absolute;
    top: -15px;
    left:45px;
}

.new-product-btn-wrapper{
    width: 125px;   height: 30px;
    position: absolute;      left: 13px;  top: 0px;
    display: flex;    justify-content: center;      align-items: center;
    background-color: #071B9A;
    color:white;
    font-family: Lato regular;
    border-radius: 14px;
    cursor: pointer;
    border: 1px solid black;
    font-family: lato regular;
    font-size:15px;
    margin-top: 10px;
}

.new-product-btn-wrapper:hover{
    background-color: #1128B9;
}

.new-product-btn-wrapper:active{
    opacity: 0.8;
    background-color: #0A00CE;
}


.store-name{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #A8B75C;
    width: 550px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.table-wrapper{
    margin: 0 auto;
    width: 550px;
    height: 490px;
    overflow-y: scroll;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(54%, rgba(214,227,143,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(214,227,143,1) 54%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
}

.table-wrapper::-webkit-scrollbar-track
{
    border: 1px solid black;
    background-color: #F5F5F5;
    border-radius: 30px;
}

.table-wrapper::-webkit-scrollbar
{
    width: 15px;
    background-color: #F5F5F5;
    border-radius: 30px;
}

.table-wrapper::-webkit-scrollbar-thumb
{
    background-color: #90947E;	
    border-radius: 30px;
}


table tr{
    margin: 0 30px 30px 30px;
    display: block;
}

table tr td{
    margin: 20px 0px 20px 0px;
    display: inline-block;
    border: 1px;
}
table .product-name-title{
    text-align: center;
    font-size: 23px;   font-family: lato regular;      color:black;
    margin-bottom: 10px;
}

table .product-description-title{
    padding:5px;
    font-size: 16px;   font-family: lato regular;      color:black;
    margin-bottom: -30px;
    width: 200px;   height:140px;
    border: 1px solid black;
    background: rgba(245,242,245,1);
    background: -moz-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,242,245,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(100%, rgba(250,242,250,1)));
    background: -webkit-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    background: -o-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    background: linear-gradient(to bottom, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 47%, rgba(250,242,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f2f5', endColorstr='#faf2fa', GradientType=0 );
}

table img{
    border: 1px solid black;
}

.product-buttons-wrapper{
    position: relative;
    bottom: 5px;
}
.edit-btn-wrapper, .delete-product-btn-wrapper{
    width: 70px;   height: 30px;
    position: relative;      right: 13px;  top: 15px;
    display: flex;    justify-content: center;      align-items: center;
    background-color: #0D5A0D;
    color:white;
    font-family: Lato regular;
    border-radius: 14px;
    cursor: pointer;
    border: 1px solid black;
    font-family: lato regular;
    font-size:15px;
    margin-top: 10px;
}

.edit-btn-wrapper:focus, .delete-produc-btn-wrapper:focus, .new-product:focus{
    outline: none;
}

.edit-btn-wrapper:active, .delete-product-btn-wrapper:active{
    background-color: green;
}

.edit-btn-wrapper:hover, .delete-product-btn-wrapper:hover{
    opacity: 0.9;
}


/**************************   product list   *****************************/