
body {
    background: url(../images/b.jpg) repeat;
    background-size: 640px 400px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-decoration: none;
}

.back {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:30px solid #121294; 
    color:white;
    margin-left:30px;
    margin-top: 30px;
    background: transparent;
    cursor: pointer;
    border-left: none;
}

.back-text{
    font-size: 23px;
    color:black;
    font-family: Lato regular;
    position: absolute;
    left: 100px;
    top: 40px;
}

.back-text:focus{
    outline: none;
}
/*********************************************************profile****************************************************/

.edit-profile-text{
    color:white;    font-size: 35px;    font-family: Lato regular;
    position: absolute;
    right: -3px;  top: 0px;
    margin: 35px 85px 0 0;
    background: rgba(4, 6, 68, 0.15);
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.edit-profile-text:hover{
    color:#BFBBBB;
}

.profile-wrapper{
    background: url(../images/z.jpg) repeat;
    z-index: -1;
    border-radius: 10px;
    background-size: cover;
    width: 200px;  height:300px;
    position: absolute; right:-215px; top: 100px;
    display: flex;     justify-content: center;  align-items: center;
    background-color: white;
    border:1px solid #968787;
    padding-bottom: 4px;
    color: #0B50D0;    font-family: Lato regular; font-size: 21px;  
    transition: right 0.6s;
}

.profile-wrapper input{
    margin-bottom: 10px;
    background-color: rgba(106, 71, 138, 0.69);
    height: 20px;
}

.profile-wrapper input[type="submit"]{
    color:#0B50D0;   font-family: Lato;    font-size: 18px;
    background-color: #E8E6E4;
    border-radius: 13px;
    width:65px;  height: 30px;
    border: none;
    padding-bottom: 5px;
}


/*****^^^^^^^^^^^^^^^^^^^^^^^^^^^^^************************profile******^^^^^^^^^^^^^^^^^^^^^^^^^^^^^***********/


/**********************************build products**************************/
.build-product-wrapper{
    margin: 90px auto 0 auto;
    width:400px;  height: auto;
    min-height: 400px;
    background-color: #ECC98B;
    border: 1px solid #A79A76;
    position: relative;   left:78px;    bottom:70px;
    border-radius: 10px;
}


.new-product-wrapper{
    display: flex;    justify-content: space-around;   
    margin-top: 15px;  
}

.new-product-wrapper .new-product-btn{
    width: 100px;  height: 30px;
    background-color: red;
}

.new-product-wrapper .new-product{
    width: 120px;  height: 150px;
    background-color: red;
}


.product-settings-title{
    font-family: Lato regular;    font-size:25px;     color:#57576B;
    text-align: center;
}

.new-product-settings{
    display: flex;    justify-content: center;    align-items: center;  
    height: 385px;
    color: #0B50D0;    font-family: Lato regular; font-size: 21px;  
    margin-left: 30px;
}

.new-product-settings .stock-and-price-wrapper{
    width:275px;  height: 65px;
}

.stock-input, .price-input, .price-label,  .stock-label{
    width: 100px;    height:20px; 
    display: inline-block;
    margin-right: 28px;
}


.new-product-settings input, .new-product-settings textArea{
    margin-bottom: 13px;
}

.new-product-settings input[type="submit"]{
    width: 60px;   height: 30px;
}
/******************************************************build store *******************************************/

/*********************************build product **********************************/

.new-product-settings{
     display: flex;    justify-content: center;    align-items: center;   height: 385px;
    color: #0B50D0;    font-family: Lato regular; font-size: 21px; 
}

.new-product-settings input, .new-product-settings textArea{
    margin-bottom: 13px;
}

input[type="file"]{
      margin-bottom: 5px;
}
/*********************************build product **********************************/


.View-Your-Stores-wrapper{
    background-color: green;
    width: 120px;  height: 120px;
    position: absolute;     top: 230px;     left: 30px;
}