body {
    background-size: cover;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-decoration: none;
}


.bg-cover{
    background: url(../images/g.jpg) repeat;
    background-size: cover;
    width: 100%;
    height:100%;
    position:absolute;    top: 0;    left: 0;   z-index: -1;
    opacity: 0.7;
}

.store-list-wrapper{
    margin: 65px auto;
    width:550px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.total-cost-title{
    font-family: Lato regular;
    font-size: 40px;
    color: black;
    width: 300px;
    display: inline-block;  
    height: 60px;
    margin-top: 80px;
    position: relative;  top:50px;
    display: flex;   justify-content: center;   align-items: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.88);
}

.ns{
    font-size: 18px;
    position: relative;
    top: 5px;
    left: 3px;
    font-size: 18px;
}

.pay-btn{
    background: url(../images/pay.png) repeat;
    background-size: cover;
    width: 110px;    height:110px;
    text-align: center;
    display: block;  
    position: relative;
    border:none;
    background-color: rgba(75, 115, 75, 0.65);
    border-radius: 50px;
    cursor: pointer;
    left: 75px;
    top: 90px;
}
.your-cart-title{
    text-align: center;
    margin: 0 auto;
    width: 600px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: aliceblue;
    font-size: 23px;    font-family: Lato regular;    color:green;
    position:relative;
    padding-top: 10px;
}

.table-container{
    margin-top: 80px;
}

.table-header{
    display: flex;
    margin-bottom: 20px;
    margin-top: 14px;
    background-color: rgba(0, 128, 0, 0.1);
    width: 502px;
}

.product-name-t, .store-name-t, .product-price-t, .product-quantity-t{
    font-family: Lato regular;
    font-size: 18px;
    width: 120px
}
.store-name-t, .product-price-t, .product-quantity-t{
    margin-left: 10px;
}

.table-wrapper{
    width: 580px;
    background-color: aliceblue;
    height: 300px;
    overflow-y: scroll;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


tr{
    width: 500px;
    display:flex;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding-bottom: 17px;
    padding-top: 17px;
    position: relative;
}

tr:first-child{
    border-top:1px solid black;
}

td{
    width: 135px;
    display: inline-block;
    text-align: center;
}

td:last-child{
    position: absolute;
    right: -14px;
    width: 0;
    top: 12px;
}

.delete-order{
    background: url(../images/minus.jpg) repeat;
    background-size: cover;
    border: none;
    width: 30px;   height:30px;
    cursor: pointer;
}


